.header-container {
  background-color: black;
  background: url("/Jeju_Hallasan_Mountain.jpg") no-repeat 50% 0;
  color: #000000;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center 36%;
  /* margin-top: -37px; */
  height: 500px;
}

.header-text {
  background-color: #ffffff9a;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
}

.header-text h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0px 0px;
}

.override-h2 {
  margin: 0px 0px;
}

.header-text h1 {
  margin-bottom: 0px;
}

.nav-link-current {
  text-decoration: none;
  opacity: 1 !important;
}

.font-2rem {
  font-size: 2rem;
}

.project-card {
  display: flex;
  flex: 1 1 100%;
  border: 1px #000000 solid;
  margin-bottom: 10px;
}

.project-card-textpanel {
  flex: 1 1 50%;
  padding: 5px 10px;
  display: flex;
  border-left: 1px #000000 solid;
}

.project-card-text {
  margin: auto;
}
