.header-container {
  background-color: black;
  background: url("/Jeju_Hallasan_Mountain.jpg") no-repeat 50% 0;
  color: #000000;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center 36%;
  /* margin-top: -37px; */
  height: 500px;
}

.header-text {
  background-color: #ffffff9a;
  text-align: center;
  width: fit-content;
  margin: auto;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
}

.header-text h2 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0px 0px;
}

.override-h2 {
  margin: 0px 0px;
}

.header-text h1 {
  margin-bottom: 0px;
}

.nav-link-current {
  text-decoration: none;
  opacity: 1 !important;
}

.font-2rem {
  font-size: 2rem;
}

.project-card {
  display: flex;
  flex: 1 1 100%;
  border: 1px #000000 solid;
  margin-bottom: 10px;
  position: relative;
}

.project-card .post-card-content {
  opacity: 0;
}

.project-card-textpanel {
  flex: 1 1 50%;
  padding: 5px 10px;
  display: flex;
  border-left: 1px #000000 solid;
}

.project-card-text {
  margin: auto;
}

.project-card-title {
  margin: 0;
  display: inline-block;
  font-size: 3.4rem;
  max-width: 70%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.33, 0, 0.2, 1);
  background-color: #79aeff;
  border-radius: 10px;
  padding: 10px;
  border: 1px #000b96 solid;
}

.accordion {
  background-color: #d4d4d4;
  color: #000000 !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 3rem;
  transition: 0.4s;
  height: auto;
  border-radius: 0px;
  box-shadow: none;
}

.accordion-active,
.accordion:hover {
  background-color: #a7a7a7;
  color: #000000 !important;
  box-shadow: none;
  outline: none;
}

.accordion:focus {
  outline: none;
}

.accordion-panel {
  padding: 0px 18px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out, padding 0.1s ease-out;
  border: 1px #a7a7a7 solid;
}

button.accordion-active + .accordion-panel {
  padding: 10px 18px;
}
