---
title: Resume
layout: default
sectionid: resume
permalink: resume.html
debugger: false
---

{% if page.debugger %} {% include debugger.html %} {% endif %}

<div class="container text-center">
  <!-- <h1>{{ page.title }}</h1> -->
  <br />
  <a
    href="{{site.baseurl}}/assets/img/resume/Resume 2020CS5.pdf"
    id="btn-download-resume"
    class="btn btn-primary"
  >
    Download PDF
  </a>
  <div class="panel panel-default">
    <img
      src="{{site.baseurl}}/assets/img/resume/Resume 2020CS5.png"
      class="img-responsive"
      alt="resume"
    />
  </div>
</div>
