---
layout: default
---

{% if page.debugger %} {% include debugger.html %} {% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% include projects_nav.html %}
    </div>

    <div class="col-md-8">
      <h1>{{ page.title }}</h1>
      <div id="markdown-content-container">
        {% if page.link_live %}

        <div class="m-2">
          <a
            class="btn btn-sm btn-success"
            href="{{page.link_live}}"
            target="_blank"
          >
            <i class="fa fa-external-link" aria-hidden="true"> Live site</i>
          </a>

          <a
            class="btn btn-sm btn-success"
            href="{{page.link_git}}"
            target="_blank"
          >
            <i class="fa fa-github" aria-hidden="true"> GitHub</i>
          </a>
        </div>

        {% endif %} {{ content }}
      </div>
      <hr />
      {% include section_nav.html %}
    </div>
  </div>
</div>
